<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Task">
    <resultMap id="TaskMap" type="Task">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="parser_id" property="parserId"/>
        <result column="url" property="url"/>
        <result column="spider_rule" property="spiderRule"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="tableName">`spider_task`</sql>

    <sql id="columns">
        `user_id`,`parser_id`,`url`,`spider_rule`,`status`,`created_at`,`updated_at`
    </sql>

    <insert id="create" parameterType="Task" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tableName"/>
        (<include refid="columns"/>)
        VALUES (#{userId},#{parserId},#{url},#{spiderRule},#{status},now(),now())
    </insert>

    <update id="update" parameterType="Task">
        UPDATE
        (<include refid="tableName"/>)
        SET
        <if test="status!=null">`status`=#{status},</if>
        `updated_at`= now()
        WHERE id = #{id}
    </update>

    <sql id="criteria">
        WHERE 1=1
        <if test="id != null">AND `id`=#{id}</if>
        <if test="userId != null">AND `user_id`=#{userId}</if>
        <if test="status!=null">AND `status` = #{status}</if>
        <if test="parserId != null">AND `parser_id`=#{parserId}</if>
    </sql>

    <select id="findById" parameterType="long" resultMap="TaskMap">
        SELECT `id`, <include refid="columns"/> FROM
        <include refid="tableName"/>
        WHERE id = #{id}
    </select>

    <delete id="delete">
        DELETE FROM
        <include refid="tableName"/>
        WHERE id=#{id}
    </delete>

    <select id="count" parameterType="map" resultType="long">
        SELECT count(*) FROM
        <include refid="tableName"/>
        <include refid="criteria"/>
    </select>

    <select id="paging" parameterType="map" resultMap="TaskMap">
        SELECT `id`, <include refid="columns"/> FROM
        <include refid="tableName"/>
        <include refid="criteria"/>
        ORDER BY id DESC
        LIMIT #{offset},#{limit}
    </select>

</mapper>